

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: rgb(43,72,104);
  text-decoration: none;
}


header {
  padding: 10px 0;
  margin-bottom: 20px;

}

#logo {
    float: right;

  margin-top: 8px;
}



#company {
float: left;
  text-align: right;
}




#client {
  padding-left: 6px;
  border-left: 6px solid rgb(43,72,104);
  float: left;
}

.to {
  color: #777777;
  font-size:15px
}

.to-span{
  color: #151515;
  font-size:15px
}

.todesc {
  font-size:12px
}

.level-title {
  font-size: 46px;
  width: 100%;
  margin-bottom: 20px;
  color: rgb(43,72,104);
  padding-bottom: 10px;

  font-weight: bold;
  text-transform: capitalize;
  text-align: justify;

  font-family: 'Futura';
font-weight: normal;
text-transform: capitalize;
}
.orange-border{
  border-bottom: 5px solid #00a75d;
}

.estimate{
  border-bottom: 1px solid  #2b4868;
}

h2.name {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: rgb(43,72,104);
  font-size:15px;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.table th,
.table td {


  text-align: center;
  border: 1px solid DARKGRAY;
}

table th {
  white-space: nowrap;
  font-weight: normal;
}

table td {
  text-align: center;
}

table td h3{
  color: #EEEEEE;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #555555;
  font-size: 1.6em;

}

table .desc {
  text-align: left;
}

table .unit {

}

table .qty {
}

table .total {

  color: #555555;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}



.tableTotal td {
  padding-top: 10px;


  font-size: 1.2em;
}

.tableTotal tr:first-child td {
  /* border-top: none; */
}

.tableTotal tr:last-child td {

  font-size: 1.4em;
}

.tableTotal tr td:first-child {
  /* border: none; */
}

#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}

#notices{
  padding-left: 6px;
  border-left: 6px solid rgb(43,72,104);
}

#notices .notice {
  font-size: 1.2em;
}

footer {
  color: #777777;
  width: 100%;
  height: 30px;
  /* position: absolute;
  bottom: 90px; */



}
.table_title th,
.table_title td {


  text-align: center;
  border-top: 1px solid DARKGRAY;
}
.table_title{

  margin-bottom: 20px;
}
.table_title_1{

  margin-bottom: 20px;
}
